@import "../../variables.scss";

.reflection-element {
  p {
    font-family: $font-serif;
    font-size: 20px;
    font-weight: 300;
    @media (min-width: $screen-sm) {
      font-size: 26px;
    }
  }
}