/* Variables */
/* Colors */
/* Cloudfront */
/* Main margins */
.reflection-element p {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 300; }
  @media (min-width: 768px) {
    .reflection-element p {
      font-size: 26px; } }
