@import "../../variables.scss";

.chat-container {
  .bot-profile {
    width: 100%;
    text-align: center;
    img {
      width: 80px;
      margin: 40px 0 30px 0px;
      border-radius: 50%;
      @media (min-width: $screen-sm) {
        width: 100px;
      } 
    }
  }
  .wrapper {
    width: 100%;
    .chat {
      width: 100%;
    }
  }
}