/* Variables */
/* Colors */
/* Cloudfront */
/* Main margins */
.quote-form {
  margin: 40px 0px; }
  .quote-form textarea {
    height: 180px;
    background: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none; }
  .quote-form input {
    background: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none; }
  .quote-form label {
    font-size: 24px;
    font-family: "Roboto Slab";
    font-weight: normal;
    margin: 20px 0 10px; }
  .quote-form .btn-primary {
    width: 100%; }
