/* Variables */
/* Colors */
/* Cloudfront */
/* Main margins */
.quote-container .bot-profile {
  width: 100%;
  text-align: center; }
  .quote-container .bot-profile img {
    width: 80px;
    margin: 40px 0 30px 0px;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .quote-container .bot-profile img {
        width: 100px; } }

.quote-container .wrapper {
  width: 100%; }
  .quote-container .wrapper .quote {
    width: 100%; }
    .quote-container .wrapper .quote .quote-author {
      font-size: 12px;
      text-align: center;
      margin: 10px; }
    .quote-container .wrapper .quote .message-element {
      text-align: center; }
      .quote-container .wrapper .quote .message-element .message {
        display: inline-block;
        float: none; }
