/* Variables */
$font-size-base: 26px;

/* Colors */
$color-white: rgb(122, 118, 118);
$color-light-grey: #f2f2f2;
$color-grey: #e2e2e2;
$color-dark-grey: #888888;
$color-mid-grey: #bbbbbb;

$color-primary: #F29335;
$color-primary-light: #FF905A;
$color-primary-dark: #d98a3f;
$color-primary-medium: #F2641F;

$color-orange: #FF9F1D;
$color-red: #E71D36;
$color-blue: #2C68A3;
$color-green: #2DC4B6;
$color-green-strong: #67B618;
$color-black: #011626;

/* Cloudfront */
$assets-url: 'https://s3-eu-west-1.amazonaws.com/gide-fake-assets/';

/* Main margins */
$main-margin-bottom: 60px;

// Fonts
$font-serif: 'EB Garamond';
$font-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

//== Media queries breakpoints

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// Extra Large screen / wide desktop
$screen-xl:                  1400px;
$screen-xl-min:              $screen-xl;
$screen-xl-desktop:          $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);