/* Variables */
/* Colors */
/* Cloudfront */
/* Main margins */
.hamburger-menu {
  -webkit-overflow-scrolling: touch; }

.menu-elements-wrapper {
  margin: -10px; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 38px;
  height: 35px;
  left: 20px;
  top: 30px; }
  @media (min-width: 768px) {
    .bm-burger-button {
      left: 32px;
      top: 36px; } }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #011626; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

/* General sidebar styles */
.bm-menu {
  background: #f4f4f4;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad; }
  .bm-item-list .btn.btn-link {
    color: #fff;
    font-size: 30px; }
  .bm-item-list h1 {
    margin: 0 0 30px; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }
