/* Variables */
/* Colors */
/* Cloudfront */
/* Main margins */
.footer {
  margin: 20px 0; }
  .footer p {
    margin: 0;
    color: #011626; }
  .footer .author {
    font-size: 13px;
    font-family: "Roboto Slab";
    margin-bottom: 5px; }
  .footer .address {
    font-size: 11px;
    font-family: "Roboto Slab"; }
