@import "../../variables.scss";

.footer {
  margin: 20px 0;
  p {
    margin: 0;
    color: $color-black;
  }
  .author {
    font-size: 13px;
    font-family: $font-serif;
    margin-bottom: 5px;
  }
  .address {
    font-size: 11px;
    font-family: $font-serif;
    font-weight: 300;
  }
}