@import "../../variables.scss";

.auth-bar {
  text-align: right;
  .btn.logout {
    position: fixed;
    right: 20px;
    top: 30px;
    padding: 0;
    svg path {
      fill: $color-black;
    }
    @media (min-width: $screen-sm) {
      right: 28px;
      top: 32px;
    }
  }
}